.body{
    @apply font-roboto w-full
}
.responsiveGroup{
    @apply px-0 py-4 flex 
    laptop:px-20
    mobile:px-5
}
.leftSide{
    @apply w-full relative
    laptop:w-1/2
    mobile:w-1/2

}
.rightSide{
    @apply w-full
    laptop:w-1/2
    mobile:w-1/2

}
.titleTextWrapper{
    @apply flex items-center justify-center text-gray-200
}
.titleText{
    @apply text-[15vw]
    laptop:text-[9vw]
    mobile:text-[9vw]
}
.isHidden{
    @apply hidden  
    laptop:flex
    mobile:flex
}
.responsivePicture{
    @apply relative flex items-center justify-center
    laptop:absolute 
    mobile:absolute
}

.gridMain {
    @apply py-4 flex flex-col
    laptop:px-20 laptop:flex laptop:flex-row
    mobile:px-5 mobile:flex mobile:flex-row
}

.leftFootBallGrid {
    @apply w-full relative order-2
    laptop:w-1/2 laptop:order-1
    mobile:w-1/2 mobile:order-1
}

.rightFootBallGrid {
    @apply w-full order-1
    laptop:w-1/2 laptop:order-2
    mobile:w-1/2 mobile:order-2
}

.leftBasketBallGrid {
    @apply w-full 
    laptop:w-1/2
    mobile:w-1/2
}

.rightBasketBallGrid {
    @apply w-full relative 
    laptop:w-1/2 
    mobile:w-1/2 
}